/* Estilos generales del footer */
.big-footer {
  background-color: #000000; /* Rojo pastel */
  padding: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: #e0cbcb; /* Gris rojiso claro */
  z-index: 1000;
}

/* Estilos para el texto de derechos de autor */
.my-5 {
  font-size: 16px;
  color: #ffffff; /* Azul violeta */
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1px;
  background-color: #740b0b; /* Gris azulado claro */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}