/* Estilos para el contenedor principal */
.section {
    background: #570505; /* Color de fondo oscuro */
    padding: 50px; /* Espaciado interno */
    border-radius: 0; /* Eliminar bordes redondeados */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el contenedor máximo de ancho */
.max-w-container {
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto; /* Centrar */
}

/* Estilos para el título */
.title {
    font-size: 3rem; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #fff; /* Color del texto blanco */
    margin-bottom: 20px; /* Espacio inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26); /* Sombra del texto */
    background: linear-gradient(to right, #1f2833, #0b0c0c); /* Degradado de fondo oscuro */
    transition: transform 0.3s, color 0.3s; /* Transiciones suaves */
    text-align: center;
}

.title:hover {
    color: #c6d9fc; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

/* Estilos para el subtítulo */
.subtitle {
    font-size: 1.5rem; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #ccc; /* Color del texto gris claro */
    margin-bottom: 30px; /* Espacio inferior */
    text-align: center; /* Alineación del texto */
    transition: transform 0.3s, color 0.3s; /* Transiciones suaves */
}

.subtitle:hover {
    color: #c6d9fc; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

/* Estilos para el botón */
.button {
    display: inline-block; /* Mostrar como bloque en línea */
    background: linear-gradient(to right, #5e7d7e, #394344); /* Degradado de fondo oscuro */
    color: #fff; /* Color del texto blanco */
    padding: 15px 30px; /* Espaciado interno */
    border: none; /* Quitar borde */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    text-decoration: none; /* Quitar subrayado del texto */
    font-size: 1.2rem; /* Tamaño de fuente */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.button:hover {
    background: linear-gradient(to right, #394344, #5e7d7e); /* Cambiar gradiente de fondo al pasar el mouse */
    transform: translateY(-3px); /* Desplazamiento hacia arriba al pasar el mouse */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}
